@model List<Reporte>
@{
}
<div class="p-5 mb-4 bg-light rounded-3">
    <h1>Reportes</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {

                <div class="col">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">@item.Nombre @item.Apellido</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">Comentario</h5>
                        <p class="card-text">@item.Comentario</p>
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        Email: @item.Email<br/>
                        Fauna: @item.Fauna<br />
                        Flora: @item.Flora <br/>
                        Suelo: @item.Suelo<br />
                        Estaciones: @item.Estaciones <br/>
                        Agua: @item.Agua
                    </div>
                </div>
                </div>
              
        }
    </div>
 
</div>